


/* for tabs  */
@media (max-width : 1410px) {
  .links li{
    font-size: 14px !important;
  }
  .links {
    gap: 18px;
  }
  .homeAmenties {
    width: 500px;
    font-size: 16px;
  }
  .inputWrapper p {
    font-size: 14px !important;
  }
  .inputWrapper {
    width: 550px;
    height: 78px;
    font-size: 14px !important;

  }
  p {
    font-size: 14px !important;

  }
  h5 {
    font-size: 26px !important ;
  }
  .pofsectionsptag{
    padding:15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bannerText {
    font-size: 45px !important;
  }
  .customerCard  h1 {
    font-size: 64px !important;
  }
  .section3rdtextbox h1 {
    font-size: 78px !important;
  }
  .section3rdtextbox p {
    font-size: 37px !important;
  }
  .section3rdtextbox button {
    display: flex;
    justify-content: center;
  }
  .navBtn{
    width: 140px !important;
    font-size: 14px !important;
  }
  .reviews h2 {
    font-size: 33px;
  }
  .reviews p {
    font-size: 18px !important;
  }
  .reviews .smallText {
    font-size: 14px !important;
  }
  .heroOneimg {
    margin-right: -25%;
    margin-top: 2%;
  }
  .secondImg{
    margin-right: -15% !important;
  }
  .thirdImg{
    margin-right: -35% !important;
    margin-top: 2% !important;
  }
  .cityNameofCard{
    font-size: 16px !important;
  }
  .loginSignupbtntwo{
    font-size: 14px !important;
    width: 140px !important;
  }
  .heroOneimg{
    top:  -3% !important;
  }
}



@media (max-width : 600px) {
  .span {
    color:#00aeff !important;
  }
  .home{
    height: 350px !important;
  }
  .h-Auto {
    height: inherit !important;
  }
  .container-flued {
    padding: 0px 10px !important;
  }
  .row {
    margin: 0px !important;
  }
  /* navbar  */
  .NavLeft {
    justify-content: space-between;
    align-items: center;
  }
  .NavLeft img {
    width: 80px;
    object-fit: contain;
    
  }
  /* home  */
  .homeLeft {
    height: 50%;
  }

  h1 {
    font-size: 40px !important;
    color: #000 !important;
    text-align: center;
  }
  .homeAmenties {
    width: 267px !important;
    font-size: 14px !important;
    margin-left: 11%;
  } 
  .homeAmenties h3 {
    font-size: 11px !important;
  }
  .inputWrapper {
    height: 62px;
    width: 340px;
  }
  .inputWrapper  .button{
    width: 42px;
    font-size: 1;
  }
  .inputWrapper .placeholderText {
    font-size: 11px !important;
  }
  .prasenceRow{
    flex-wrap: nowrap !important;
    overflow: auto;
    height: auto !important;
  }
  /* section 2nd  */
  .fs54px {
    font-size: 26px !important;
  }
  .prasence{
    height: 200px !important;
  }
  .prasenceRow::-webkit-scrollbar {
    display: none;
    
  }
  .customerCard h1 {
    font-size: 34px !important;
    justify-content: center !important;
  }
  /* third section  */
  .thirdSection{
    height: 230px !important;
  }
  .sectionThirdImg{
    width: 200px !important;
    
  }
  .sectionThirdImgRight .primaryColor {
    font-size: 27px !important;
  }
  .sectionThirdImgRight .text-5xl {
    font-size: 19px !important;
  }
  .sectionThirdImgRight {
    justify-content: end;
  }
  /* third section  */
  .fs74px {
    font-size: 30px !important;
  }
  .fs43px {
    font-size: 24px !important;
  }
  .semiFooter{
    height: inherit;
  }
  .quickLinks{
    height: auto;
  }
  .footer {
    height: 100vh !important;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    align-items: start !important;
  }
  .footerLogo{
    width: 100px !important;
  }
  .footerLink{
    justify-content: start !important;
  }
  .fs20px {
    font-size: 14px !important;
  }
  .fs27px{
    font-size: 13px !important;
  }
  .footer .col-12 {
    height: 100px !important;
  }
  .footerFirstPart{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* sear  */
  .searchBox {
    width: 100% !important;
  }
  .categaryCard {
    height: 75% !important;
  }
  .recommindCityBtn{
    height: 30px !important;
    font-size: 13px !important;
  }
  .searchBox .container-flued {
    box-shadow: none !important;
  }
  .navtwoplaceholder{
    font-size: 14px !important;
  }
  .ultraLightBorder {
    width: 296px !important;
  }
  .pgCard{
    height: 480px;
    width: 340px;
    box-shadow: 0px 0px 10px #0000002c;
   
  }
}
